

/* viide elemendile st muudame kõiki selliseid elemente */
body {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 3em; /* vahe elementide vahel */
    align-items: center;
    background-image: url("images/Background.jpg");
    background-size: cover;
}

h1 {
    font-family: "Holtwood One SC", serif;
    color: #ffb860;
        text-shadow: 2px 2px #100b07;
}

p {
    font-family: "Fanwood Text", serif;
    font-weight: bold;
    font-size: 24px;
    color: #1d260c;
    text-shadow: 2px 2px #d1d9a5;
}

/* #-ga viitame elemendile, millel on selline id */
#photo {
    max-width: 25em;
    max-height: 30em;
}
/* .-ga viitame elemenditele, millel on selline class */
.container {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

#con1 {
    background-image: url("images/log22.jpg");
    background-size: cover;
}

#textBox {
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    width: 20em;
    height: 42em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/log22.jpg");
    background-size: cover;
    padding: 5em 1.5em 1.5em;
}
.icon {
    max-width: 15em;
}
iframe {
    width: 50em;
    height: 28em;
}

button {
    width: 20em;
    border: none;
    background-color: #e89f41;
    padding: 2em;
    left: 100px;
    border-radius: 15px;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 20px
}

button:hover {
    background-color: #d1fc87;
    cursor: pointer;
}

#paddingleft {
    padding-left: 25px;
}